.appleApp {
    height: 2.431vw;
}

.androidApp {
    height: 2.431vw;
}

.decor1 {
    width: 10.625vw;
}

.building {
    height: 1.250vw;
}

.leaf {
    width: 0.972vw;
}

.map {
    width: 0.972vw;
}

.nav {
    width: 0.972vw;
}

.blueHeart {
    width: 1.389vw;
}

.redHeart {
    width: 1.389vw;
}

.square {
    height: 3.333vw;

}

.swim {
    height: 3.333vw;
}

.car {
    height: 3.333vw;
}

.blueShadow {
    height: 45.625vw;
}

.up {

}

.down {

}

.bg {
    width: 53.194vw;
}

.logo {
    height: 2.361vw;
}

.arrow {
    width: 0.9vw;
}

.leftSpiral {
    width: 25.972vw;
}

.plane {
    width: 11.597vw;
}

.rightSpiral {
    width: 18.611vw;
}

.planeCircle {
    width: 4.861vw;
}

.plusUp {
    width: 10.625vw;
}

.plusDown {
    width: 10.625vw;
}

.facebook{
        height:0.903vw;
    }
    .instagramm{
        height: 1.111vw;
    }
    .twitter{
        width: 1.111vw;
    }
    .footerlogo{
        height:2.361vw;
    }

    .playShape{
        height:0.903vw;
    }
.underScrach{
    height: 0.833vw;
}




@media (max-width: 433px) {
    .logo{
        height: 9.361vw;
    }
    .bg{
            width: 153.194vw;
    }

    .square {
        height: 16.333vw;
    }

    .swim {
        height: 16.333vw;
    }

    .car {
        height: 16.333vw;
    }

    .blueShadow {
        height: 98.625vw;
    }

    .leaf {
        width: 4.972vw;
    }

    .map {
        width: 4.972vw;
    }

    .nav {
        width: 4.972vw;
    }

    .building {
        height: 4.25vw;
    }

    .blueHeart {
        width: 6.389vw;
    }
    .redHeart{
        width: 6.389vw;
    }
    .planeCircle {
        width: 13.861vw;
    }

    .facebook{
        height:8.111vw;
    }
    .instagramm{
        height: 8.111vw;
    }
    .twitter{
        width: 8.111vw;
    }
    .footerlogo{
        height: 10.3vw;
    }

.appleApp {
    height: 15vw;
}

.androidApp {
    height: 15vw;
}
.plane{
        width: 27.597vw;
}
.playShape{
        height: 3.903vw;
}
.underScrach{
    height: 1.833vw;
}


}





/*8.111vw*/






